/* RESET */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
a,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}


/* topography */
body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

/* Flexboxes */
img {
  width: 100%;
}
.header image {
  width: 4em;
}
body {
  color: black;  
  background-image: url("araBackground.png");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}


header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: blanchedalmond;

  
}
nav li {
  text-decoration: none;
  color: #555;
  padding-left: 2em;
  list-style-type: none;  
}
.container {
  text-align: center;
}
h2{
  padding-bottom: 0.5em;
  
}
.carousel-inner {
  border: 5px solid #555;
}
footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
}
.carousel-inner{
  margin-bottom: 3em;
}

header > img {
  width: 8rem;
}
footer ul {
  list-style-type: none;
  text-decoration: none;
}
footer p {
  margin: 0 1em;
  font-size: 1em
}
.footer {
  display: flex;
  justify-content: center;
}
nav,
/* footer {
  background-color: #444;
} */
footer {
  color: black;
}


/* Responsive */
/*  */
/*  */